
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
  <test name="Nopackage" >
  
    <classes>
<class name="com.oib.testscript.TC001_BranchRegister"/>
      <class name="com.oib.testscript.Tc003EmployeeRegistration"/>
      <class name="com.oib.testscript.TC004_DeletService"/>
      <class name="com.oib.testscript.Tc005_RegisterService"/>
    </classes>
  </test>
</suite>




















